body {
    padding-top: 20px;
    padding-bottom: 20px;
    
    background: url(../images/struckaxiom.png);
}

.navbar {
  margin-bottom: 20px;
}

.jumbotron {
    background-color: #F8F8F8;
}
.showoff{
    background-image: url("../images/banner.png");
    background-size: cover;
    height: 250px;
}
.highlight{
    color: #F05A24;
}